
<div class="KJI_main--block background--white">
    <h3>Условия участия в программе "Концепция - Регионы"</h3>
    <p>Перед началом подачи заявки по программе "Концепция - Регионы" , просим Вас внимательно ознакомиться с условиями программы "Концепция - Регионы" ниже:</p>
    <div class="KJI_main--block background--grey">
        Региональная жилищная программа «Концепция - Регионы» рассчитана на обеспечение жильем граждан Республики Казахстан, состоящих на учете как нуждающиеся в жилье вне столицы, городов республиканского значения и областных центров. Программа предусматривает приобретение жилья на вторичном рынке. Разрешается приобретение жилья у застройщиков, при этом жилье должно быть введенным, то есть у застройщика должен быть акт ввода по данному объекту. Максимальная сумма займа - 20 млн тенге. Ставка по кредитованию не более 2% - для очередников по категориям «Семьи, имеющие или воспитывающие детей с инвалидностью», «Лица с инвалидностью 1 и 2 групп», «Многодетные семьи», «Дети-сироты», для очередников остальных категорий - не более 5%.
    </div>
    <div class="KJI_main--agree-block">
        <label class="checkbox--container" onclick="ValidationAgree()">
            <p>Ознакомлен/-на и Согласен/-на с Условиями участия в программе «Концепция - Регионы»</p>
            <input type="checkbox">
            <span class="checkmark"></span>
        </label>
    </div>
    <button class="button--primary" id="SecondSteps" onclick="SecondSteps()" disabled>Продолжить</button>
</div>
<script>
    function ValidationAgree(){
        var inputagree = $(".checkbox--container").find("input")
        if(inputagree.is(':checked')){
            $("#SecondSteps").prop('disabled', false);
        }
        else{
            
            $("#SecondSteps").prop('disabled', true);
        }
    }
</script>