<div class="KJI_main-container">

    <div class="KJI_main--title">
        <div>
                
            <p class="KJI_main--text">Дата создания <span>12.02.2024</span></p>
            <h3 class="KJI_main--text">Заявка <span>L00101-0200-2021</span></h3>
        </div>
        <button class="KJI--cancel" onclick="CancelModal()">Аннулировать</button>
    </div>
    <div class="KJI_main-container_steps">
        
    </div>
</div>
<script>
    FirstSteps();
</script>
<div class="CancelModal"></div>