

<div class="KJI_main--block background--white">
    <h3 class="KJI_main--text">Данные Заявителя</h3>
    <div class="KJI_main--changes-deposits-blocks">
        

        <button id="js-startTimer" data-toggle="modal" data-target="#exampleModalSMSDone">Выбрать депозит</button>
    </div>

    <div class="KJI_main--block-buttons">
        

        <button id="js-startTimer">Назад</button>
        
        <button class="button--primary" id="SecondSteps" disabled>Продолжить</button>
    </div>

    


</div>

<!-- Начиная -->
<div class="modal fade exampleModalSMSDone" id="exampleModalSMSDone" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content Write-SMS-code">
            <div class="modal-header head-title">
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    <!-- <img src="Images/Close.svg" alt="Alternate Text" /> -->
                </button>
            </div>
            <div class="modal-body body-write-code">
                <div class="DepositsChangeBlocks--items">
                    <div class="RadioBackgroundBlocks">
                                <label class="container-radio">
                                  <div class="radiobackground">
                                    
                                  <div class="RadioBackgroundBlocksTitles">
                                    <h3>Депозит<span>от 10.08.22</span></h3>
                                    <p>30-2021-03174-3001</p>
                                  </div>
                                    <input type="radio" checked="checked" name="radio">
                                    <span class="checkmark"></span>
                                  </div>
                                
                              
                              
                              
                              
                              <div class="RadioBackgroundBlocksStatus">
                                <span class="oranges">Выгодный</span><span class="greens">Гос.премия</span>
                              </div>
                              <div  class="RadioBackgroundBlocksBottomn">
                                <div class="RadioBackgroundBlocksBottomnItems">
                                  <p>Накоплено</p>
                                <h3>
                                  13 850 000 ₸
                                </h3>
                                  
                                </div>
                                <div class="RadioBackgroundBlocksBottomnItems">
                                  <p>Прогнозируемая премия</p>
                                <h3>
                                  131 000 ₸
                                </h3>
                                  
                                </div>
                              </div></label>
                            </div>
                    <div class="RadioBackgroundBlocks">
                                <label class="container-radio">
                                  <div class="radiobackground">
                                    
                                  <div class="RadioBackgroundBlocksTitles">
                                    <h3>Депозит<span>от 10.08.22</span></h3>
                                    <p>30-2021-03174-3001</p>
                                  </div>
                                    <input type="radio" checked="checked" name="radio">
                                    <span class="checkmark"></span>
                                  </div>
                                
                              
                              
                              
                              
                              <div class="RadioBackgroundBlocksStatus">
                                <span class="oranges">Выгодный</span><span class="greens">Гос.премия</span>
                              </div>
                              <div  class="RadioBackgroundBlocksBottomn">
                                <div class="RadioBackgroundBlocksBottomnItems">
                                  <p>Накоплено</p>
                                <h3>
                                  13 850 000 ₸
                                </h3>
                                  
                                </div>
                                <div class="RadioBackgroundBlocksBottomnItems">
                                  <p>Прогнозируемая премия</p>
                                <h3>
                                  131 000 ₸
                                </h3>
                                  
                                </div>
                              </div></label>
                            </div>
                    </div>
            </div>
            <div class="modal-footer foot-send-butt">
                <button class="send-button button--primary" onclick="EndState();">Продолжить</button>
            </div>
        </div>
    </div>
</div>
